# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Build output
dist
.vite

# Editor
.DS_Store
.env.local
.env.*.local
.idea
.vscode

# TypeScript build info
node_modules/.cache
*.tsbuildinfo
